<div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
  <%= image_tag "head.jpg" %>
  <div class="user-box">
    <span class="name">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= current_user ? current_user.email.split("@")[0] : nil %>
      </a>
    </span>
  </div>
</div>
