<div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
  <img alt="" src="img/samples/scarlet-159.png">
  <div class="user-box">
    <span class="name">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Scarlett J.
      </a>
    </span>
  </div>
</div>
